<div class="container">
  <p-messages [(value)]="notifications"></p-messages>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="Dane wejściowe" [style]="{'margin-bottom':'20px'}">
        <div class="ui-g">
          <div class="ui-g-6">
            <span class="ui-float-label" style="margin-top: 15px; margin-bottom: 40px">
              <input id="float-input" #input1
                     (input)="input1.value=$event.target.value.toUpperCase(); sequence1 = $event.target.value.toUpperCase()"
                     [(ngModel)]="sequence1" OnlyAGCT="true" type="text" size="50" pInputText>
              <label for="float-input">Sekwencja 1</label>
            </span>
            <span class="ui-float-label" style="margin-bottom: 40px">
              <input id="float-input2" #input2
                     (input)="input2.value=$event.target.value.toUpperCase(); sequence2 = $event.target.value.toUpperCase()"
                     [(ngModel)]="sequence2" OnlyAGCT="true" type="text" size="50" pInputText>
              <label for="float-input2">Sekwencja 2</label>
            </span>
            <span class="ui-float-label" style="margin-bottom: 40px">
              <input id="float-input3" #input3
                     (input)="input3.value=$event.target.value.toUpperCase(); sequence3 = $event.target.value.toUpperCase()"
                     [(ngModel)]="sequence3" OnlyAGCT="true" type="text" size="50" pInputText>
              <label for="float-input3">Sekwencja 3</label>
            </span>
          </div>
          <div class="ui-g-6">
            <div class="ui-g-6">
              <p-table [value]="penaltyRows">
                <ng-template pTemplate="header">
                  <tr>
                    <th></th>
                    <th>{{A_NUCL_STR}}</th>
                    <th>{{G_NUCL_STR}}</th>
                    <th>{{C_NUCL_STR}}</th>
                    <th>{{T_NUCL_STR}}</th>
                    <th>{{BREAK_NUCL_STR}}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                  <tr style="text-align: center">
                    <td class="primeng-panel-color">{{row.label}}</td>
                    <td pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="number" (input)="penaltyChanged($event,row.label,A_NUCL_STR)" [(ngModel)]="row.nuclMap[A_NUCL_STR]">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{row.nuclMap[A_NUCL_STR]}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="number" (input)="penaltyChanged($event,row.label,G_NUCL_STR)" [(ngModel)]="row.nuclMap[G_NUCL_STR]">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{row.nuclMap[G_NUCL_STR]}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="number" (input)="penaltyChanged($event,row.label,C_NUCL_STR)" [(ngModel)]="row.nuclMap[C_NUCL_STR]">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{row.nuclMap[C_NUCL_STR]}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="number" (input)="penaltyChanged($event,row.label,T_NUCL_STR)" [(ngModel)]="row.nuclMap[T_NUCL_STR]">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{row.nuclMap[T_NUCL_STR]}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="number" (input)="penaltyChanged($event,row.label,BREAK_NUCL_STR)" [(ngModel)]="row.nuclMap[BREAK_NUCL_STR]">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{row.nuclMap[BREAK_NUCL_STR]}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div style="text-align: center; margin-top: 10px; color: #898989;">
                <span >MACIERZ KAR I NAGRÓD</span>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: center; margin-top: 30px">
          <button style="width: 22%" pButton type="button" class="ui-button-secondary" (click)="setExampleData()" icon="fa-clipboard" label="Przykładowe dane"></button>
          <button style="width: 22%" pButton type="button" (click)="runAlgorithm()" icon="fa-play" label="Uruchom algorytm"></button>
          <button style="width: 22%" pButton type="button" (click)="runStepAlgorithm()" icon="fa-forward" label="Uruchom algorytm krokowo"></button>
          <button style="width: 22%" pButton type="button" (click)="nextStep()" icon="fa-step-forward" [disabled]="!showNextStepBtn" label="Następny krok"></button>
        </div>
      </p-panel>
    </div>
    <div class="ui-g-12">
      <p-panel header="Wyniki" [style]="{'margin-bottom':'20px'}">
        <div class="ui-g">
          <div class="ui-g-8">
            <div *ngIf="sequenceStrArray.length > 0" style="text-align: center; margin-top: 20px; display: inline-flex">
              <button style="margin-top: -5px; margin-right: 20px;" pButton type="button" (click)="currentSequence3IndexToLeft()" icon="fa-chevron-left"></button>
              <div>
                <div style="display: inline-block; margin-right: 5px" *ngFor="let item of sequenceStrArray; let i = index">
                  {{item}}
                  <span [ngClass]="{'current-nucl' : i === currentSequence3Index}" style="margin-left: 5px">
                    &#8213;&#8213;&#8213;&#8213;
                  </span>
                </div>
              </div>
              <button style="margin-top: -5px; margin-left: 15px;" pButton type="button" (click)="currentSequence3IndexToRight()" icon="fa-chevron-right"></button>
            </div>
            <div style="margin: 30px;">
              <table class="result-table">
                <ng-container *ngFor="let matrix of currentResultMatrix; let i = index">
                  <tr [ngClass]="{'tr-label' : i === 0}">
                    <ng-container *ngFor="let cell of matrix; let j = index">
                      <td *ngIf="i == 0">
                        <span class="result-table-label">
                        {{cell.labelX}}
                      </span>
                      </td>
                      <span *ngIf="j == 0 && i != 0" class="result-table-label">
                        {{cell.labelY}}
                      </span>
                      <td [ngClass]="{'selected-cell' : cell.selected}"  *ngIf="!(i == 0 || (j == 0 && i != 0))">
                        <span>
                          {{cell.value}}
                        </span>
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
              </table>
            </div>
          </div>
          <div class="ui-g-4">
            <div *ngIf="resultPaths.length > 0">
              <textarea style="font-family: monospace;  font-size: 14px;" [(ngModel)]="resultLog" rows="10"
                        class="log-textarea" pInputTextarea disabled="true">
              </textarea>
              <div style="text-align: center; margin-top: 10px; color: #898989;">
                <span >
                  <div style="text-align: center; margin-top: 20px; margin-bottom: 20px; display: inline-flex">
                    <button style="margin-top: -5px; margin-right: 20px;" pButton type="button" (click)="resultPathIndexToLeft()" icon="fa-chevron-left"></button>
                      <div>Rezultat {{resultPathIndex + 1}}/{{resultPaths.length}}</div>
                    <button style="margin-top: -5px; margin-left: 15px;" pButton type="button" (click)="resultPathIndexToRight()" icon="fa-chevron-right"></button>
                  </div>
                </span>
              </div>
              <br>
            </div>
            <textarea #logTextarea [(ngModel)]="logs" rows="15" class="log-textarea"
                      pInputTextarea disabled="true">
            </textarea>
            <div style="text-align: center; margin-top: 10px; color: #898989;">
              <span >LOGI KROKÓW</span>
            </div>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>
